



<div class="">
    <div class="row d-flex col-12">
        <div class=" card m-3 p-3 border-2 shadow col-3">
            <h5>Total Products Assigned</h5>
            <h3>@ViewBag.ProductsAmount</h3>
        </div>
        <div class=" card m-3 p-3 border-2 shadow col-3">
            <h5>Total Registered Users</h5>
            <h3>@ViewBag.ClientsAmount</h3>
        </div>
        <div class=" card m-3 p-3 border-2 shadow col-3">
            <h5>Total Active Users</h5>
            <h3>@ViewBag.Active</h3>
        </div>
        <div class=" card m-3 p-3 border-2 shadow col-3">
            <h5>Total Inactive Users</h5>
            <h3>@ViewBag.Inactive</h3>
        </div>
        <div class=" card m-3 p-3 border-2 shadow col-3">
            <h5>Total Transacctions</h5>
            <h3>@ViewBag.TransferAmount</h3>
        </div>
        <div class=" card m-3 p-3 border-2 shadow col-3">
            <h5>Transactions Today</h5>
            <h3>@ViewBag.TransferToday</h3>
        </div>
        <div class=" card m-3 p-3 border-2 shadow col-3">
            <h5>Total Payments</h5>
            <h3>@ViewBag.PaymentAmount</h3>
        </div>
        <div class=" card m-3 p-3 border-2 shadow col-3">
            <h5>Today Payments</h5>
            <h3>@ViewBag.PaymentToday</h3>
        </div>

    </div>
</div>